.main {
    position: absolute;
    width: 100%;
}

.title {
    height: 34px;
    font-family: Helvetica;
    text-align: center;
    color: #0f2998;
    font-size: 28px;
    margin-top: 40px;
}

.content {
    margin-top: 68px;
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.leftText {
    width: 50%;
    text-align: justify;
}

.rightImage {
    display: inline-block;
    position: relative;
    width: 50%;
    text-align: center;
    height: fit-content;
}

.image {
    width: 380px;
}

.text {
    margin-left: 150px;
    margin-right: 50px;
}

.date {
    position: absolute;
    bottom: 1%;
    right: 25%;
}