<div class='main'>
    <h3 class='title'>{{ blog.title }}</h3>
    <div class='content'>
        <div class="left-text">
            <div [innerHTML]="blog.text" class="text"></div>
        </div>
        <div class='right-image'>
            <div class='image' [ngStyle]="{'background-image': 'url(' + blog.imageUrl + ')'}">
                <div class="image-info">
                    <label class='date'>{{ blog.date | date: 'dd/MM/yyyy' }}</label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isAdmin" class="button-section">
        <button (click)="editBlog()" class="button">Editar</button>
    </div>
</div>