@import './../../../assets/sass/colors.scss';


.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color:$black;
    ul {
        align-self: center;
    }
    li {
        float: right;
        padding-right: 40px;
    }
    li a {
        text-align: center;
        font-size: 18px;
        color: $white;
    }
}