@import "./../../../assets/sass/text.scss";
@import "../../../assets/sass/colors.scss";
@import "../../../assets/sass/buttons.scss";
#subtitle {
    margin-top: 11px;
}

#about-title {
    margin-top: 107px;
}

#about-content {
    margin: 50px 70px 50px 70px;
}

#more-info-content {
    margin: 50px 70px 50px 70px;
}

#more-info-title-1 {
    margin-top: 89px;
}

#more-info-title-2 {
    margin-top: 34px;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 703px;
    background-image: linear-gradient(to top, $black, $gray);
}

.title-container {
    position: absolute;
    top: 68px;
    width: 278px;
}

.description-container {
    position: absolute;
    bottom: 200px;
    width: 200px;
}

.button-container {
    position: absolute;
    bottom: 86px;
    width: 253px;
}

.body-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 569px;
    background-color: white;
}

.about-container {
    width: 50%;
    height: auto;
}

.more-info-container {
    width: 50%;
    height: auto;
    background-color: $white;
}

@media screen and (max-width:600px) {
    .about-container {
        width: 100%;
    }
    .more-info-container {
        width: 100%;
    }
}